# Python Dictionaries

In [2]:
person =  { "name" : "Rohan", 'age' : 25, 'city': 'New Delhi'}
print(person)
print(type(person))

{'name': 'Rohan', 'age': 25, 'city': 'New Delhi'}
<class 'dict'>

In [4]:
person =  { "name" : "Rohan", 'age' : 25, 'city': 'New Delhi'}
print(person)
print(type(person))

{'name': 'Rohan', 'age': 25, 'city': 'New Delhi'}
<class 'dict'>

In [6]:
print(person['name'])
print(person['age'])

Rohan
25

In [7]:
print(person.get('city'))

New Delhi

In [8]:
person = dict( { "name" : "Rohan", 'age' : 25, 'city': 'New Delhi'} )
print(person)

{'name': 'Rohan', 'age': 25, 'city': 'New Delhi'}

In [10]:
print( "name" in person) 
print( "bd" in person)

True
False

In [11]:
keys = person.keys()
print(keys)

dict_keys(['name', 'age', 'city'])

In [12]:
val = person.values()
print(val)

dict_values(['Rohan', 25, 'New Delhi'])

In [13]:
person =  { "name" : "Rohan", 'age' : 25, 'city': 'New Delhi'}
print(person.items())

dict_items([('name', 'Rohan'), ('age', 25), ('city', 'New Delhi')])

In [14]:
person =  { "name" : "Rohan", 'age' : 25, 'city': 'New Delhi'}
person['age'] = 30

print(person)

{'name': 'Rohan', 'age': 30, 'city': 'New Delhi'}

In [15]:
person['country'] = 'India'
print(person)

{'name': 'Rohan', 'age': 30, 'city': 'New Delhi', 'country': 'India'}

In [16]:
person.pop('age')
print(person)

{'name': 'Rohan', 'city': 'New Delhi', 'country': 'India'}

In [17]:
person =  { "name" : "Rohan", 'age' : 25, 'city': 'New Delhi'}

for x in person:
    print(x)

name
age
city

In [18]:
for x in person:
    print(person[x])

Rohan
25
New Delhi

In [19]:
for x in person.keys():
    print(person[x])

Rohan
25
New Delhi

In [20]:
for x in person.values():
    print(x)

Rohan
25
New Delhi

In [21]:
for x in person.items():
    print(x)

('name', 'Rohan')
('age', 25)
('city', 'New Delhi')

In [22]:
for x in person.items():
    print(x[0], x[1])

name Rohan
age 25
city New Delhi

In [23]:
for x in person.items():
    (a , b)  = x
    print(a, b)

name Rohan
age 25
city New Delhi

In [24]:
for (a,b) in person.items():
    print(a, b)

name Rohan
age 25
city New Delhi