# Python List

Python list is used to store collections of data. 
There are 4 types of data types to store collections of data
1. List
2. Tuple
3. Set
4. Dictionary

#### Python List
###### List items are ordered, changeable and allow duplicate values.

List Initialize
Access Item
List Slicing
len()
type()
list() constructor
looping through a list
List Comprehension
List Function

In [34]:
x = [25,60, 78]
print(x)
print( type(x))

[25, 60, 78]
<class 'list'>

In [35]:
x = [25, 100.50, True, "India", [1,2,5]]
print(x)
print(type(x))

[25, 100.5, True, 'India', [1, 2, 5]]
<class 'list'>

In [36]:
#list constructor

list_x = list( (25, 100.50, True, "India") )
print(list_x)
print(type(list_x))

[25, 100.5, True, 'India']
<class 'list'>

In [42]:
fruit_list = [ "Apple", "Banana", "Orange", "Cherry", "Mango" ]
#print(type(fruit_list))
#print(fruit_list[10])
print(fruit_list[-4])

fruit_list[2] = "Green Orange"

print(fruit_list)

Banana
['Apple', 'Banana', 'Green Orange', 'Cherry', 'Mango']

In [43]:
fruit_list = [ "Apple", "Banana", "Orange", "Cherry", "Mango", "Banana" ]
print(fruit_list)

['Apple', 'Banana', 'Orange', 'Cherry', 'Mango', 'Banana']

# Slicing

In [49]:
fruit_list = [ "Apple", "Banana", "Orange", "Cherry", "Mango" ]

print(fruit_list[1:4])
print(fruit_list[1:])
print(fruit_list[:4])
print(fruit_list[-5:-2])
print(fruit_list[:-2])

['Banana', 'Orange', 'Cherry']
['Banana', 'Orange', 'Cherry', 'Mango']
['Apple', 'Banana', 'Orange', 'Cherry']
['Apple', 'Banana', 'Orange']
['Apple', 'Banana', 'Orange']

In [50]:
print( len(fruit_list) )

5

In [53]:
fruit_list = [ "Apple", "Banana", "Orange", "Cherry", "Mango" ]

print( "Grape" in fruit_list )

False

# Update, Add, Remove

In [54]:
fruit_list = [ "Apple", "Banana", "Orange", "Cherry", "Mango" ]

fruit_list[3] ="Green Cherry"

print(fruit_list)

['Apple', 'Banana', 'Orange', 'Green Cherry', 'Mango']

In [55]:
fruit_list.append("Grapes")

print(fruit_list)

['Apple', 'Banana', 'Orange', 'Green Cherry', 'Mango', 'Grapes']

In [56]:
fruit_list.insert(2, "Milon")
print(fruit_list)

['Apple', 'Banana', 'Milon', 'Orange', 'Green Cherry', 'Mango', 'Grapes']

In [57]:
fruit_list.remove("Orange")
print(fruit_list)

['Apple', 'Banana', 'Milon', 'Green Cherry', 'Mango', 'Grapes']

In [58]:
fruit_list.pop()
print(fruit_list)

['Apple', 'Banana', 'Milon', 'Green Cherry', 'Mango']

In [59]:
fruit_list.pop(2)
print(fruit_list)

['Apple', 'Banana', 'Green Cherry', 'Mango']

In [60]:
fruit_list = [ "Apple", "Banana", "Orange", "Cherry", "Mango" ]

for x in fruit_list:
    print(x)

Apple
Banana
Orange
Cherry
Mango

In [61]:
marks = [40, 60, 78, 60, 80]
sum = 0 
for x in marks:
    sum = sum + x

print(sum)

318

In [63]:
marks = [40, 60, 78, 60, 80]
sum = 0 
i = 0
while i < len(marks):
    sum = sum + marks[i]
    i = i + 1

print(sum)

318

# List Comprehension

In [64]:
marks = [40, 63, 78, 60, 80, 57, 90]
even_list = []

for x in marks:
    if x % 2 == 0 :
        even_list.append(x)

print(even_list)

[40, 78, 60, 80, 90]

In [66]:
marks = [40, 63, 78, 60, 80, 57, 90]
even_list = [ x for x in marks if x%2 == 0 ]
print(even_list)

[40, 78, 60, 80, 90]

newlist = [ expression for item in iterable if condition == True ]

In [68]:
even_list = [ 100 for x in marks if x%2 == 0 ]
print(even_list)

[100, 100, 100, 100, 100]

In [70]:
even_list = [ x for x in marks if True ]
print(even_list)

[40, 63, 78, 60, 80, 57, 90]

In [73]:
fruit_list = [ "Apple", "Banana", "Orange", "Cherry", "Mango" ]
print(fruit_list*10)

['Apple', 'Banana', 'Orange', 'Cherry', 'Mango', 'Apple', 'Banana', 'Orange', 'Cherry', 'Mango', 'Apple', 'Banana', 'Orange', 'Cherry', 'Mango', 'Apple', 'Banana', 'Orange', 'Cherry', 'Mango', 'Apple', 'Banana', 'Orange', 'Cherry', 'Mango', 'Apple', 'Banana', 'Orange', 'Cherry', 'Mango', 'Apple', 'Banana', 'Orange', 'Cherry', 'Mango', 'Apple', 'Banana', 'Orange', 'Cherry', 'Mango', 'Apple', 'Banana', 'Orange', 'Cherry', 'Mango', 'Apple', 'Banana', 'Orange', 'Cherry', 'Mango']