# Tutorial 7 - Python Operators

Arithmetic operators ( +, - , *, /, %, **, // )
Comparison operators ( == , !=, >, >= , <, <= )
Logical operators ( and , or, not )
Bitwise operators 
Assignment operators ( = , +=, -=, *=, /=, %=, **=, //= )
Identity operators ( is , is not )
Membership operators ( in, not in )

# Arithmetic operators ( +, - , * , /, %, **, // )

In [28]:
x = 10
y = 3
#z = x ** y

z = x // y

print(z)
print(type(z))

3
<class 'int'>

# Comparison operators ( == , !=, >, >= , <, <= )

In [29]:
# == 

x = 10
y = 5

print( x == y )

False

In [31]:
# == 

x = 10
y = "10"

print( x == y )

False

In [32]:
# !=
x = 10
y = 5

print( x != y )

True

In [37]:
#>
x = 25
y = 15

#print( x > y )

# >=
print( x >= y )

True

In [38]:
# < , <=

# Logical operators ( and , or, not )

In [42]:
#and
# exp and epx
#if both exp are true then result will be true
#print(  True and True )
print(  False and False )

False

In [47]:
x = 100
y = 200

a = 5
b=  10

str = 'India'

#print( x < y and a < b )
#print( x < y and a > b )

#print( x > y and a < b )

print( str == 'India' and a < b )

True

In [51]:
#or 
#if any one condition is true, final result will be True

#print( False or False )
print( True or False )
print( True or True )

True
True

In [52]:
x = 10
y = 20

a = 10

print(  x > y or a %2 == 0 )

True

In [53]:
print(  x > y or a %2 == 1 )

False

In [54]:
print(  x < y or a %2 == 0 )

True

In [58]:
#not

#print( not True )
print( not False )

True

In [60]:
x = 10
y = 20

print( not(x < y) )

False

# Assignment operators ( = , +=, -=, *=, /=, %=, **=, //= )

In [61]:
x = 10
#   +=

x += 20  # x = x + 20

print(x)

30

In [62]:
x = 10
y = 5

x += y  # x = x + y

print(x)

15

# Identity operators ( is , is not )

In [69]:
x = 10
y = 5

print( id(x) )
print( id(y) )

# is 

print( x is y)

2562625333840
2562625333680
False

In [70]:
print( x is not y)

True

# Membership operators ( in, not in )

In [73]:
#in

str = "Python is an easy langauge"

print ( "easy" in str)

list = [ 'apple', 'banana', 'orange']

print( 'banana' in list)

True
True