# Tutorial 2- Python Comments, Indentation & Variables

In [7]:
#This is code to add two number
'''
THis is multi code commment
THis is multi code commment
THis is multi code commment
THis is multi code commment
THis is multi code commment
'''
x = 100
y = 200

z = x + y

print(z)

300

1. A-Z , a-z, 0-9, _
2. Varibale name can not start with digit

In [16]:
Name = "Mike"

In [17]:
print(name)

Mike

In [19]:
studentAge = 24

In [20]:
StudentAge = 30

In [21]:
studnet_age = 23

In [22]:
x = y =z = 10
print(x)
print(y)
print(z)

10
10
10

In [23]:
x , y, z = 10,20,30
print(x)
print(y)
print(z)

10
20
30

In [39]:
x = 10  #int
name = "10"  #string
price = 10.50  #float

print(type(x))
print(type(name))
print(type(price))

<class 'int'>
<class 'str'>
<class 'float'>

In [40]:
a = float(x)
print(type(a))

print( int(price))

print( int(name))

<class 'float'>
10
10